<div class="sidebar">
    <div class="sidebar-header">
        MyApp
    </div>
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="/home" class="nav-link>
                <span class="nav-icon">🏠</span>
                <span>Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/search" class="nav-link>
                <span class="nav-icon">🔍</span>
                <span>Search</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/profile" class="nav-link>
                <span class="nav-icon">👤</span>
                <span>Profile</span>
            </a>
        </li>
    </ul>
</div>